@font-face {
    font-family: 'christmas-font';
    src: url('/public/font/MountainsofChristmas-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.App {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: christmas-font;
    position: relative;
}
.item {
    display: flex;
    height: 100%;
    align-items: center;
    transition: flex 0.5s ease;
    flex: 1;
    flex-direction: column;
    color: white;
    font-weight: 500;
    font-size: 30px;
}
.item svg {
    width: 30%;
    margin: auto;
    transition: transform 0.48s ease;
}

.item.candy {
    background-color: #468966bf;
}

.item.sock {
    background-color: #fff0a5;
    span {
        color: #66272a;
    }
}

.item.leaves {
    background-color: #ffb03b;
    span {
        color: rgb(102, 39, 42);
    }
}

.item.milk {
    background-color: rgb(102, 39, 42);
}
.item:hover {
    flex: 1.5;
    cursor: pointer;
    svg {
        transform: rotate(30deg);
    }
}
.item.milk:hover {
    flex: 2;
    cursor: pointer;
    svg {
        transform: rotate(0deg);
    }
}

.item span {
    padding-bottom: 20px;
}

.card-container {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.card-container .card {
    height: 90%;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px 5%;
    position: relative;
    transition: display 0.5 ease;
}

.card svg:hover {
    cursor: pointer;
}

.card.candy,
.card.sock,
.card.milk,
.card.leaves {
    color: white;
    display: none;
}

.card.candy {
    background-color: #468966bf;
}

.card.milk {
    background-color: #66272a;
}

.card.sock {
    background-color: #fff0a5;
    color: #66272a;
}

.card.leaves {
    background-color: #ffb03b;
    color: #66272a;
}

.card-header {
    font-size: 40px;
    font-weight: 600;
    margin-top: 10%;
    margin-bottom: 20px;
}

.card-detail {
    font-size: 20px;
    font-family: script, cursive;
    width: 80%;
}
